*{
    color: darkblue;
}

body{
    color: black;
}

h5 {
    display: inline;
}

a {
    text-decoration: none;
}

span {
    color:red;
}

#details {
    border: 2px black dotted;

}

#startingCSS { 
    border: black 2px dotted;
    padding:10px;
}


#table {
    border: 2px dotted black;

}

#div1 {
    color : white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:2px;
    background-color: blue;
}
#div2 {
    padding:2px;
    margin-left:5px;
    background-color: violet;
}

#div3 {
    padding:2px;
    margin-left : 5px;
    background-color: skyblue;
 
}