*{
    color: darkblue;
}

body{
    color: black;
}

h5 {
    display: inline;
}

a {
    text-decoration: none;
}

span {
    color:red;
}

#details {
    border: 2px black dotted;

}

#startingCSS { 
    border: black 2px dotted;
    padding:10px;
}


#table {
    border: 2px dotted black;

}

#div1 {
    color : white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:2px;
    background-color: blue;
}
#div2 {
    padding:2px;
    margin-left:5px;
    background-color: violet;
}

#div3 {
    padding:2px;
    margin-left : 5px;
    background-color: skyblue;
 
}

/*
    CSS with # v/s CSS with tag name
    Precedence of CSS with # > CSS with . > CSS with tagName > CSS with *
*/
#paraCSS {
    color : red;
}



#fontSizeVH{ 
    font-size: 5vh;
}

#fontSizeVW {
    font-size : 5vw;
}

#spanDiv {
    border: 2px solid black;
}

#spanDiv2 {
    padding:10px;
    border: 0.5px solid black;
}

ul > li {
    color:green;
}

ul ol > li {
    color:red;
}

div span {
    color : red;
}

#tildeCombinatorDiv{
    border : 2px solid black;
}

p ~ span {
    color:green;
}

#plusCombinatorDiv{
    border:2px solid black;
}

p + span {
    color:violet;
}

ol > li {
    display: none;
}
ol ul > li{
    display: none;
}

ul:hover ol > li{
    display: block;
}

ol:hover ul > li{
    display: block;
}

/*pseudo selectors*/
p::first-line{
    color:orange;
}